name: Test

on:
  pull_request:
    branches:
      - '**'
      - '!main'
  push:
    branches:
      - '**'
      - '!main'

jobs:
  test:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm ci
      - name: Lint Code Base
        uses: github/super-linter@v6
      - run: npm test
